---
layout: page
title: Hi, I'm Mark
subtitle: My life into the engaging future
meta-title: "Mark Robinson"
bigimg:
  - "/img/big-imgs/tower-of-terror.JPG" : "Hollywood Studios, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/mickey-on-top-of-the-world.JPG" : "Hollywood Studios, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/epcot-water-wheel.JPG" : "E.P.C.O.T, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/epcot-dome-2013.JPG" : "E.P.C.O.T, Walt Disney World, Florida (2013)"
  - "/img/big-imgs/cinderella-castle.jpg" : "Magic Kingdom, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/everest.JPG" : "Animal Kingdom, Walt Disney World, Florida (2013)"
  - "/img/big-imgs/niagara-falls-rapids.jpg" : "Niagara Falls, New York (2012)"
  - "/img/big-imgs/niagara-falls-rapids-bridge.jpg" : "Niagara Falls, New York (2012)"
  - "/img/big-imgs/atlantic-city.jpg" : "Atlantic City, New Jersey (2015)"
  - "/img/big-imgs/tropicana.jpg" : "Tropicana, Atlantic City, New Jersey (2013)"
  - "/img/big-imgs/hudson-ny-view.jpg" : "Hoboken, New Jersey (2015)"
  - "/img/big-imgs/hackrpi-2014F.jpg" : "HackRPI, Troy, New York (2014F)"
  - "/img/big-imgs/HackRPI-2015F.jpg" : "HackRPI, Troy, New York (2015F)"
  - "/img/big-imgs/HackRPI_In_My_Eyes.jpg" : "HackRPI, Troy, New York (2014F)"
  - "/img/big-imgs/hackru-2014.JPG" : "HackRU, New Brunswick, New Jersey (2014F)"
  - "/img/big-imgs/hackru-2015.jpg" : "HackRU, New Brunswick, New Jersey (2015)"
  - "/img/big-imgs/sculpture.jpg" : "RPI, Troy, New York (2014)"
  - "/img/big-imgs/rpi-overwatch-troy.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/troy-hudson.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/rpi-academic-side.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/on-road-between-NJ-and-upstate-NY.jpg" : "Preble, New York (2015)"
  - "/img/big-imgs/calm-hudson-troy.jpg" : "Troy, New York (2015)"
  - "/img/big-imgs/rpi-academic-side-walkway.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/rpi_plants_CII.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/rpi_cii_overwatch.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/rpi_sci_dr_pepper.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/room_head_desk.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/universal-globe.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/universal-fury.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/universal-hogwarts.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/universal-popeye-fountain.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/universal-windy-spinner.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/universal-diagon-alley-shop.JPG" : "Universal Studios, Florida (2016)"
  - "/img/big-imgs/indiana-fight.JPG" : "Hollywood Studios, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/indiana-ona-ladda.JPG" : "Hollywood Studios, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/indiana-villain.JPG" : "Hollywood Studios, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/tower-of-terror-close.JPG" : "Hollywood Studios, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/everest-close.JPG" : "Animal Kingdom, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/epcot-showcase.JPG" : "EPCOT, Walt Disney World, Florida (2016)"
  - "/img/big-imgs/harpers-mill.JPG" : "Magic Kingdom, Walt Disney World, Florida (2016)"

---

{% raw %}
<script id=search-results-template type="text/mustache">
{{#entries}}
<article>
<h3>
{{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
<a href="{{url}}">{{title}}</a>
</h3>
</article>
{{/entries}}
</script>
{% endraw %}

<section id=search-results style=display:none>
  <div class=index-posts-title>Search results</div>
  <div class=entries></div>
</section>

<div id=about-me style=display:none>
  <p>
    I am a computer science major at <a href="https://www.google.com/maps/place/Rensselaer+Polytechnic+Institute">Rensselaer Polytechnic Institute</a> in Troy, New York.
  </p>
  <p>
    In between my studies, you will find me either passionately coding to create new projects, contributing to open source or taking adventurous walks throughout historic Troy.
  </p>
  <p>
    Please drop by <a href="http://codecornerapps.com">my website</a> to check out everything that has been taking up most of my time, or <a href="mailto:mark@codecornerapps.com">email me</a> if you have any inquiries.
  </p>
</div>

<div class = currentPage id = preview-posts style=display:block>
  <div class=index-posts-title>Blog posts:</div>
  <div class=posts-list>
    {% for post in paginator.posts %}
    <article class=post-preview>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class=post-title>{{ post.title }}</h2>

        {% if post.subtitle %}
        <h3 class=post-subtitle>
          {{ post.subtitle }}
        </h3>
        {% endif %}
      </a>

      <p class=post-meta>
        {{ post.date | date: "%B %-d, %Y" }} 

	{% if post.tags %} | 
	    {% for tag in post.tags %}
	        <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
	    {% endfor %}
	{% endif %}
      </p>

      <div class=post-entry>
        {{ post.content | strip_html | truncatewords: 50}} 
        <a href="{{ post.url | prepend: site.baseurl }}" class=post-read-more>[Read&nbsp;More]</a>
      </div>

    </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <ul class="pager main-pager">
    {% if paginator.previous_page %}
    <li class=previous>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class=next>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
