{% if page.common-ext-js %}
  {% for js in page.common-ext-js %}
	<script src="{{ js }}"></script>
  {% endfor %}
{% endif %}

{% if page.common-js %}
  {% for js in page.common-js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}

  <script type="text/javascript">
    $(function() {
      $('#search-query').lunrSearch({
        indexUrl: '/js/index.json',   // Url for the .json file containing search index data
        results : '#search-results',  // selector for containing search results element
        entries : '.entries',         // selector for search entries containing element (contained within results above)
        template: '#search-results-template'  // selector for Mustache.js template
      });
    });
  </script>
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
	<script src="{{ js }}"></script>
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% include google_analytics.html %}
