---
layout: base

bigimg:
  - "/img/big-imgs/tower-of-terror.JPG" : "Hollywood Studios, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/mickey-on-top-of-the-world.JPG" : "Hollywood Studios, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/epcot-water-wheel.JPG" : "E.P.C.O.T, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/epcot-dome-2013.JPG" : "E.P.C.O.T, Walt Disney World, Florida (2013)"
  - "/img/big-imgs/cinderella-castle.jpg" : "Magic Kingdom, Walt Disney World, Florida (2014)"
  - "/img/big-imgs/everest.JPG" : "Animal Kingdom, Walt Disney World, Florida (2013)"
  - "/img/big-imgs/niagara-falls-rapids.jpg" : "Niagara Falls, New York (2012)"
  - "/img/big-imgs/niagara-falls-rapids-bridge.jpg" : "Niagara Falls, New York (2012)"
  - "/img/big-imgs/atlantic-city.jpg" : "Atlantic City, New Jersey (2015)"
  - "/img/big-imgs/tropicana.jpg" : "Tropicana, Atlantic City, New Jersey (2013)"
  - "/img/big-imgs/hudson-ny-view.jpg" : "Hoboken, New Jersey (2015)"
  - "/img/big-imgs/hackrpi-2014F.jpg" : "HackRPI, Troy, New York (2014F)"
  - "/img/big-imgs/HackRPI_In_My_Eyes.jpg" : "HackRPI, Troy, New York (2014F)"
  - "/img/big-imgs/hackru-2014.JPG" : "HackRU, New Brunswick, New Jersey (2014F)"
  - "/img/big-imgs/hackru-2015.jpg" : "HackRU, New Brunswick, New Jersey (2015)"
  - "/img/big-imgs/sculpture.jpg" : "RPI, Troy, New York (2014)"
  - "/img/big-imgs/rpi-overwatch-troy.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/troy-hudson.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/rpi-academic-side.jpg" : "RPI, Troy, New York (2015)"
  - "/img/big-imgs/on-road-between-NJ-and-upstate-NY.jpg" : "Preble, New York (2015)"
  - "/img/big-imgs/calm-hudson-troy.jpg" : "Troy, New York (2015)"
  - "/img/big-imgs/rpi-academic-side-walkway.jpg" : "RPI, Troy, New York (2015)"
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	  {% if page.comments %}
      <div class="disqus-comments">
	    {% include disqus.html %}
      </div>
	  {% endif %}
    </div>
  </div>
</div>
